.ad-text {
    background: -webkit-linear-gradient(180deg, #FFC947, #FC6739);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fancy-link {
    border-bottom: 4px solid;
    border-image: linear-gradient(-90deg, #FFC947, #FC6739);
    border-image-slice: 1;

}

.banner {
    background-image: url(../../assets/images/background/banner-top.png);
    background-repeat: no-repeat;
    background-position: top;
}

.play-btn:hover {
    background-color: #12141D;
    border: 1px solid;
    border-radius: 5px;
    border-image: linear-gradient(180deg, #5C7FFF, #CB5CFF);
    border-image-slice: 1;
    background: -webkit-linear-gradient(180deg, #CB5CFF, #5C7FFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-icon:hover {
    background: -webkit-linear-gradient(180deg, #5C7FFF 0%, #CB5CFF 100%);
    border-radius: 50%;
}