.gradient-button {
    background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
    border-radius: 5px;
}

.gradient-button:hover {
    background: linear-gradient(94.25deg, #5C7FFF 0%, #CB5CFF 100%);
    border-radius: 5px;
}